
section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #000;
  background-image: url("/assets/images/brand/girl.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  height: 640px;



  img {
    display: block;
    height: 25%;
  }
  h1 {
    text-align: left;
    color: black;
    font-size: 4em;
    margin-bottom: 362px;
  }

  a.md-button.md-default-theme.md-raised, a.md-button.md-raised, .md-button.md-default-theme.md-raised, .md-button.md-raised
  .contribute-cta-btn{
    background-color: #F44336;
  }


  h2{

    color: black;
    font-size: 2em;
    font-weight: 500;
  }

}
.experium-uses {
  margin-top: 30px;
  padding: 1px 30px;
  float: right;
  height: 128px;
  color: white;
  text-align: right;
  h1 {
    font-size: 3em;
  }
}



.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}
